.git
.github
.idea
.vscode
.DS_Store

.env
.env.*
**/.env
**/.env.*
*.pem

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.coverage
**/.mypy_cache
**/.ruff_cache
**/.venv

frontend
crawler
data
model
pipeline
supabase

backend/tests
rag/tests
